html, body, .fullSize {
    height: 100%;
    width: 100%;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.word {
    width: 100%;
    height: 10%;
    background: rgba(0, 0, 0, 1);
}

.conceptImages {
    width: 100%;
    height: 50%;
}

.board {
    width: 100%;
    height: 30%;
    background: rgba(0, 0, 0, 0.1);
}

.guessArea {
    width: 100%;
    height: 10%;
}

.disableImage {
    opacity: 0.5;	
}